workflows/master-data-transformation-with-the-complete-set-node-guide-.json
{
  "updatedAt": "2025-12-30T17:43:59.177Z",
  "createdAt": "2025-12-28T15:15:31.453Z",
  "id": "nclh6uKYZfBZxB6b",
  "name": "Master Data Transformation with the Complete Set Node Guide",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "945ccba0-646e-4559-b674-d9df83157aa3",
      "name": "Start (Manual Trigger)",
      "type": "n8n-nodes-base.start",
      "position": [
        464,
        608
      ],
      "typeVersion": 1,
      "notes": "This node serves as your manual trigger. Click 'Execute Workflow' to start the tutorial. It passes a basic 'welcome' message."
    },
    {
      "parameters": {
        "content": "## 🎯 Set Node Tutorial Workflow\n\n**Welcome to the comprehensive Set node tutorial!**\n\nThis workflow will teach you:\n1. Basic data types (string, number, boolean)\n2. Using expressions with {{ }} syntax\n3. Complex data structures (objects & arrays)\n4. The \"Keep Only Set\" option\n5. Conditional data setting\n\n**How to use:**\n- Execute each node step by step\n- Check the output data after each Set node\n- Read the notes on each node\n- Try modifying values to experiment!",
        "height": 424,
        "width": 400
      },
      "id": "0cd6c126-3320-4084-9ebf-65ba2e2ef95e",
      "name": "Tutorial Intro",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "64d5550c-af2c-4cb5-bb5f-db92c0de7688",
      "name": "1. Set Basic Values",
      "type": "n8n-nodes-base.set",
      "position": [
        688,
        608
      ],
      "typeVersion": 3.2,
      "notes": "This demonstrates setting basic data types:\n- Strings for text data\n- Numbers for integers and decimals\n- Booleans for true/false values"
    },
    {
      "parameters": {
        "content": "## 📝 Basic Set Operations\n\n**What this node does:**\n- Sets simple string values (name, email)\n- Sets number values (age, score) \n- Sets boolean values (true/false)\n\n**Key concepts:**\n- Each data type has its own section\n- Values can be static text/numbers\n- Booleans are true/false only\n\n**Try this:** Change the user_age to see how it affects later nodes!",
        "height": 240,
        "width": 320,
        "color": 7
      },
      "id": "f14ff918-718e-4d77-a9a8-5446f47c59d1",
      "name": "Basic Set Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "31e36bb6-f39f-4d6b-b2e4-f5a35d18098a",
      "name": "2. Set with Expressions",
      "type": "n8n-nodes-base.set",
      "position": [
        912,
        416
      ],
      "typeVersion": 3.2,
      "notes": "This shows how to use expressions in Set nodes:\n- Reference previous data with $json\n- Use JavaScript expressions with ={{ }}\n- Access built-in functions like $now\n- Perform calculations and string interpolation"
    },
    {
      "parameters": {
        "content": "## 🔧 Expression Magic\n\n**What this node shows:**\n- Using {{ }} to reference previous data\n- $json.fieldname gets data from previous node\n- $now gives current date/time\n- Math operations with JavaScript\n\n**Key patterns:**\n- {{ $json.user_name }} = gets user_name\n- {{ $json.score * 2 }} = multiplies score\n- {{ $now.toFormat('yyyy-MM-dd') }} = formats date\n\n**This is where Set nodes get powerful!**",
        "height": 240,
        "width": 320
      },
      "id": "a886eb9a-26fb-4510-bef2-761188994246",
      "name": "Expression Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2fabf9a9-47e9-4248-aa51-7d01fde8773b",
      "name": "3. Set Complex Data",
      "type": "n8n-nodes-base.set",
      "position": [
        1136,
        416
      ],
      "typeVersion": 3.2,
      "notes": "This demonstrates setting complex data structures:\n- Objects with nested properties\n- Arrays with mixed data types\n- Combining static values with dynamic expressions\n- Building hierarchical data structures"
    },
    {
      "parameters": {
        "content": "## 🏗️ Complex Data Structures\n\n**Objects:** Nested data with properties\n```\nuser_profile: {\n  personal: { name, age, email },\n  account: { is_active, score }\n}\n```\n\n**Arrays:** Lists of values\n```\nuser_permissions: [\"read\", \"write\", \"premium\"]\nscore_history: [85.5, 171, 128.25]\n```\n\n**Pro tip:** Mix static values with dynamic expressions!",
        "height": 240,
        "width": 320
      },
      "id": "d559b4bd-a32c-4d33-8b3f-782dad7034d7",
      "name": "Complex Data Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6aba6d91-55be-4042-87bb-ffdaafe7625b",
      "name": "4. Set Clean Output",
      "type": "n8n-nodes-base.set",
      "position": [
        1360,
        416
      ],
      "typeVersion": 3.2,
      "notes": "This shows the 'Keep Only Set' option:\n- When enabled, only the newly set values are kept\n- Previous data from the workflow is removed\n- Useful for cleaning up data and creating final outputs\n- Notice how we reference nested object properties"
    },
    {
      "parameters": {
        "content": "## 🧹 Keep Only Set Option\n\n**IMPORTANT FEATURE:**\nWhen \"Keep Only Set\" is enabled:\n- ✅ Only new values are kept\n- ❌ All previous data is removed\n- 🎯 Perfect for final outputs\n\n**Use cases:**\n- Clean API responses\n- Final data formatting\n- Removing unwanted fields\n\n**Notice:** This node only has 3 fields in output instead of all previous data!",
        "height": 240,
        "width": 320
      },
      "id": "48f1a5f2-cfbd-439b-8093-ba04aea5eac4",
      "name": "Keep Only Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-1",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.user_age }}",
              "rightValue": 25
            }
          ]
        },
        "options": {}
      },
      "id": "1f99d00d-dc21-4ff1-a48c-a70cc5d316a5",
      "name": "Age Check",
      "type": "n8n-nodes-base.if",
      "position": [
        912,
        704
      ],
      "typeVersion": 2,
      "notes": "Branching logic to demonstrate conditional Set nodes"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e2dcd60e-246e-4f1b-80e4-e50b1d08e7b9",
      "name": "5a. Set Adult Data",
      "type": "n8n-nodes-base.set",
      "position": [
        1136,
        608
      ],
      "typeVersion": 3.2,
      "notes": "Conditional Set node for adults (age > 25)\nShows how Set nodes work in different branches"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dc01d597-9b1e-454e-b4fa-fdb81571b44d",
      "name": "5b. Set Young Adult Data",
      "type": "n8n-nodes-base.set",
      "position": [
        1136,
        800
      ],
      "typeVersion": 3.2,
      "notes": "Conditional Set node for young adults (age <= 25)\nShows different values based on conditions"
    },
    {
      "parameters": {
        "content": "## 🔀 Conditional Set Nodes\n\n**The IF node splits the workflow:**\n- ✅ TRUE: Age > 25 → Adult path\n- ❌ FALSE: Age ≤ 25 → Young adult path\n\n**Each path has different Set nodes:**\n- Adults get premium offers\n- Young adults get student discounts\n\n**Key insight:** Set nodes can have completely different logic based on conditions!\n\n**Try:** Change user_age to 20 and see the different path!",
        "height": 240,
        "width": 320
      },
      "id": "c31f2f39-ad3a-4207-809c-722445703135",
      "name": "Conditional Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "3ae0a260-db4b-4ac4-8b71-3c5d1e952676",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "position": [
        1360,
        704
      ],
      "typeVersion": 2.1,
      "notes": "Merge the conditional branches back together"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2ed81df9-7a96-483b-b736-012e89e08595",
      "name": "6. Tutorial Summary",
      "type": "n8n-nodes-base.set",
      "position": [
        1584,
        704
      ],
      "typeVersion": 3.2,
      "notes": "Final summary of the Set node tutorial with all key concepts covered"
    },
    {
      "parameters": {
        "content": "## 🎓 Tutorial Complete!\n\n**What you've learned:**\n✅ Basic data types in Set nodes\n✅ Expression syntax with {{ }}\n✅ Referencing data with $json\n✅ Complex objects and arrays\n✅ Keep Only Set for clean outputs\n✅ Conditional data setting\n\n**Next steps:**\n- Try modifying the values\n- Add your own Set nodes\n- Experiment with expressions\n- Build your own data transformations!\n\n**Set nodes are the Swiss Army knife of n8n! 🛠️**",
        "height": 376,
        "width": 400
      },
      "id": "a630ce01-86c0-44c8-82f8-5e4f790a936a",
      "name": "Completion Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "42624e8d-e79c-4064-a999-59fff9b684f9",
      "name": "0. Test Data Input",
      "type": "n8n-nodes-base.set",
      "position": [
        688,
        944
      ],
      "typeVersion": 3.2,
      "notes": "🔧 **ALTERNATIVE START NODE** - Use this instead of 'Start (Manual Trigger)' for testing!\n\n**How to switch to test data:**\n1. **Disconnect** the line from 'Start (Manual Trigger)' to '1. Set Basic Values'\n2. **Connect** this node to '1. Set Basic Values'\n3. **Execute workflow** to see different results\n\n**Test different scenarios by changing:**\n- user_age (try 20 vs 30 for different branches)\n- score values\n- boolean flags\n\n**This node already has sample data ready to go!**"
    },
    {
      "parameters": {},
      "id": "d9932d91-1f9f-40d0-b83f-6891be6bfa19",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        464,
        912
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Age Check": {
      "main": [
        [
          {
            "node": "5a. Set Adult Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5b. Set Young Adult Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "6. Tutorial Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0. Test Data Input": {
      "main": [
        []
      ]
    },
    "5a. Set Adult Data": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Set Basic Values": {
      "main": [
        [
          {
            "node": "2. Set with Expressions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Age Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Set Complex Data": {
      "main": [
        [
          {
            "node": "4. Set Clean Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start (Manual Trigger)": {
      "main": [
        [
          {
            "node": "1. Set Basic Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Set with Expressions": {
      "main": [
        [
          {
            "node": "3. Set Complex Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5b. Set Young Adult Data": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "0. Test Data Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateId": "6292"
  },
  "pinData": {},
  "versionId": "49b8e432-f471-4fef-b380-ee542c5bfced",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-28T15:15:31.453Z",
      "createdAt": "2025-12-28T15:15:31.453Z",
      "role": "workflow:owner",
      "workflowId": "nclh6uKYZfBZxB6b",
      "projectId": "aRJv9cLftn98cx8V"
    }
  ],
  "activeVersion": null,
  "tags": []
}